body {
    background-color: black;
}

#blink_text{	
    animation-name:blink;
    animation-duration:8s;
    animation-timing-function:ease-in;
    animation-timing-function:ease-out;
    animation-iteration-count:Infinite;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12vw;
    animation-iteration-count: infinite;
    }
  
  @keyframes blink{
    0%{color:red;}
    33%{color:black;}
    48%{color: orange;}
    64%{color:black;}
    80%{color:green;}
    100%{color:black;}
  }

  /* .container img {
    width: 100%;
    height: auto;
} */

/* a:hover, a:active {
  background-color: red;
}*/

a:link, a:visited {
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
} 