body{
    background-color: rgb(249, 243, 229);
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size:7vw;
  margin: top;
  text-align: left;
  color: black;
}

  /* h2{
    font-family: 'Shippori Mincho B1', serif;
    font-size: 6vw;
    text-align: left;
    color: black;
  } */

  a:link, a:visited {
    /* background-color: #f44336; */
    color: black;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  /* .grid > div {
    height: 100px;
    min-width: 10px;
  } */

  a:hover, a:active {
    background-color: red;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 10px; */
    /* grid-template-rows: 80px 200px; */
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    /* margin: 0 0 1rem 0; */
  }


.container {
    display: grid;
    grid-auto-columns: 24%;
    grid-auto-flow: column;
    /* grid-gap: 16px; */
    overflow-x: auto;
}

.container img {
    width: 100%;
    height: auto;
}

.button {
  font-family: 'Shippori Mincho B1', serif;
  color: black;
  /* padding: 50px 32px; */
  text-align: center;
  display: inline-block;
  font-size: 4vh;
  margin: 1px 1px;
  cursor: pointer;
}