 body {
  background-image: url(imgs/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-color: black;
  }  
  
  a:link, a:visited {
    color: white;
    padding: 10px;
    text-align: right;
    text-decoration: none;
    /* display: inline-block; */
  }

  @media screen and (max-height: 500px) and (max-width: 500px){
    body {
        background-size:cover;
        position: absolute ;
        background-repeat: no-repeat;
        background-image: url(imgs/frame2.png)
    }
  }
