body {
    background-color: white;
  }

  /* * {
    box-sizing: border-box;
  } */
  
  /* .column {
    float: left;
    padding: 10px;
  display: block;
  width: 100%;
  } */

html {
    scroll-behavior: smooth;
  }

   .section1 {
    display: flex;
    align-content: center;
    max-width: 100%;
  } */
  
   .section2 {
    display: flex;
    align-content: center;
    max-width: 50%;
  }
  
  .section3 {
    display: flex;
    align-content: center;
    max-width: 50%;
  }

  .section4 {
    display: flex;
    align-content: center;
    max-width: 50%;
  }

  .section5 {
    display: flex;
    align-content: center;
    max-width: 50%;
  } 

@media screen and (max-width: 992px) {
  .div {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .div {
    width: 100%;
  }
}