a:link, a:visited {
  color: white;
  padding: 10px;
  text-align: right;
  text-decoration: none;
  /* display: inline-block; */
}

body {
      background-size: cover;
      background-image: url(imgs/Frame2.png);
      background-repeat: no-repeat;
    }

  
  @media screen and (min-height: 480px) {
    body {
        background-size: cover;
        background-image: url(imgs/Frame.png)
    }
  }
