.flex-container {
    display: flex;
    margin: 5px;
    padding: 50px;
    font-size: 10px;
    align-items: center;
    position: relative;
    flex-direction: row;
  }

  .imgStyle {
    width:860px;
    height:670px;
  }

.imgOne {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-family: 'Petrona', serif;
    color: aliceblue;
    display: flex;
  }

  .imgTwo {
    position:absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-family: 'Petrona', serif;
    color: aliceblue;
  }

  .imgThree {
    position:absolute;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-family: 'Petrona', serif;
    color: aliceblue;
  }

  .imgFour {
    position:absolute;
    top: 50%;
    left: 205%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-family: 'Petrona', serif;
    color: aliceblue;
  }

  .imgFive {
    position:absolute;
    top: 50%;
    left: 270%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-family: 'Petrona', serif;
    color: aliceblue;
  }

body {
  background-color: black;
}

@media only screen and (max-width: 600px) {
  .flex-container {
    display: flex;
    margin: 5px;
    padding: 50px;
    font-size: 10px;
    align-items: center;
    position: relative;
    flex-direction: column;
  }

  .imgOne {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Petrona', serif;
    color: aliceblue;
    display: flex;
  }

  .imgTwo {
    position:absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Petrona', serif;
    color: aliceblue;
  }

  .imgThree {
    position:absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Petrona', serif;
    color: aliceblue;
  }

  .imgFour {
    position:absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Petrona', serif;
    color: aliceblue;
  }

  .imgFive {
    position:absolute;
    top: 50%;
    left: 66%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Petrona', serif;
    color: aliceblue;
  }
}

a:link, a:visited {
  color: white;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  /* display: inline-block; */
}